# 为控制反代的 JS 文件启用静态资源服务器
localhost:2026 {
  log {
    level INFO
    output file ./caddy.log {
      roll_size 0.2MB
      roll_keep 1
    }
  }

  tls internal
  encode gzip
  header Access-Control-Allow-Origin *
  header Cache-Control "no-cache, no-store, must-revalidate"

  handle_path /static/* {
    root ./scripts
    file_server
  }
}

# 对于 HTTPS 的开发环境，使用反代后的 dev server
localhost:4001 {
  log {
    level INFO
    output file ./caddy.log {
      roll_size 0.2MB
      roll_keep 1
    }
  }

  tls internal
  encode gzip

  reverse_proxy localhost:3001
}

# 对于 HTTPS 的开发环境，使用反代后的 dev server
localhost:4002 {
  log {
    level INFO
    output file ./caddy.log {
      roll_size 0.2MB
      roll_keep 1
    }
  }

  tls internal
  encode gzip

  reverse_proxy localhost:3002
}
